.tileContainer {
  height: 10rem;
  background-color: #f1f1f1;
  padding: 2px 4px 0 4px;
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 2px 8px 0 #dbdada;
  transition: 0.2s ease-in-out;
}
.albumImageContainer {
  width: 100%;
  max-height: 75%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
  background-color: white;
}

.imageContainer {
  width: 100%;
  max-height: 75%;
  flex-grow: 1;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.albumImage {
  width: 4rem;
}
.icon {
  width: 100%;
}
.image {
  width: 100%;
}
.albumTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 25%;
  padding: 5px 10px;
}
.imageTitleContainer {
  display: flex;
  align-items: center;
  min-height: 25%;
  padding: 5px 10px;
}

.albumTitleContainer p {
  padding: 0;
  margin: 0;
  font-size: 1.19rem;
  font-weight: 700;
}

.imageTitleContainer p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.btnsContainer {
  opacity: 0;
  position: absolute;
  right: -34px;
  top: -14px;
  transition: 0.3s ease-in-out;
}

.btnsContainer > Button:hover {
  scale: 95% 95%;
  transition: 0.3s ease-in-out;
}

.tileContainer:hover {
  background-color: #07f;
}

.tileContainer:hover > .albumTitleContainer,
.tileContainer:hover > .imageTitleContainer,
.tileContainer:hover > .btnsContainer {
  color: white;
  opacity: 1;
}
